@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}


/* ----------------------------------- */

#homepage {
  border: 1px solid var(--border-full);
  padding: 40px;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

#homepage .halls,  #home .instructions {
  width: 80%;
  margin: 0 auto;
}

#homepage .halls .floor,  #home .instructions {
  margin-top: 3rem;
}

/* =============================== */
#home navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

#home .proceedBtn, .profile {
  display: flex;
  justify-content: center;
}

#home .proceedBtn{
  margin-top: 5rem;
  padding-bottom: 30px;
}

#home .proceedBtn button {
  padding: 1rem 5rem 1rem 5rem;
  background-color: var(--button-bg);
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#home .instructions{
  display: flex;
  justify-content: normal;
  padding-left: 40px;
}

#home .color-instructions, #home .detailed_instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#home .color-instructions > *, #home .detailed_instructions > *{
  padding-bottom: 5px;
}

#home .detailed_instructions{
  justify-content: center;
  margin-left: 20px;
}

/* ========================== */

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* -------------------------- */
.cards {
  position: relative;
  min-height: 100px;
  width: 7.5rem;
  max-width: 100%;
  margin: 5px;
  margin-right: 1%;
  text-align: center;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* =================== modal ================== */
.pop-up-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}
.pop-up-header {
  width: 100%;
  text-align: right;
}
.pop-up-container > div {
  max-width: 90vw;
  background-color: rgb(39, 57, 63);
  margin: auto;
  padding: 30px;
}

.pop-up-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.pop-up-content > div > * {
  padding-bottom: 15px;
}

div.pop-up-container > div > div > button {
  padding: 5px 10px;
  background-color: rgb(126, 102, 102);
  border: none;
  outline: none;
  margin: 20px;
  cursor: pointer;
}
/* ============================- */

.goBack, .notifications, #home .instructions{
  opacity: 0;
}

#home footer{
  display: none;
}

@media screen and (max-width: 414px) {
body{
  background-color: var(--mobile-bg);
}

  .goBack, .notifications, #home .instructions{
  opacity: 1;
}

#homepage, #home navbar{
  background-color: var(--white);
}

#homepage .halls, #home .instructions {
    width: 100%;
    margin: 0 auto;
}

#home footer {
  visibility: visible;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px 10px 15px 10px;
    background-color: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#home footer div{
      display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20px;
    width: 30px;
}

#home footer div span{
  padding-top: 10px;

}

}
